<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Manejo de productos en timpo real dentro de la PreEntrega 2</h1>

    <ul id="lista-productos">
        {{#each productos}}
            <li data-id="{{@index}}">{{nombre}} - ${{precio}} 
                <button class="eliminar-producto" data-id="{{@index}}">Eliminar</button>
            </li>
        {{/each}}
    </ul>

    <h2>Agregar un nuevo producto</h2>
    <form id="form-agregar-producto">
        <label for="nombre">Nombre del producto:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required>

        <button type="submit">Agregar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        
        socket.on('producto-actualizado', (productos) => {
            const lista = document.getElementById('lista-productos');
            lista.innerHTML = ''; 

            productos.forEach((producto, index) => {
                const li = document.createElement('li');
                li.setAttribute('data-id', index);
                li.innerHTML = `${producto.nombre} - $${producto.precio} 
                    <button class="eliminar-producto" data-id="${index}">Eliminar</button>`;
                lista.appendChild(li);
            });
        });

       
        document.getElementById('form-agregar-producto').addEventListener('submit', (e) => {
            e.preventDefault();
            const nombre = document.getElementById('nombre').value;
            const precio = document.getElementById('precio').value;

            socket.emit('nuevo-producto', { nombre, precio });

            document.getElementById('nombre').value = '';
            document.getElementById('precio').value = '';
        });

        document.getElementById('lista-productos').addEventListener('click', (e) => {
            if (e.target.classList.contains('eliminar-producto')) {
                const id = e.target.getAttribute('data-id');
                socket.emit('eliminar-producto', id);
            }
        });
    </script>
</body>
</html>
